
/* HOME PAGE */
/* Navibar.css */
/* 
.side-navbar {
  position: fixed;
  top: 0;
  right: 0; 
  height: 100%;
  width: 250px; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1040;
}

.side-navbar-brand {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;

}

.side-navbar-collapse {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.navbar-nav {
  width: 100%;
  padding-left: 0;
}

.nav-item {
  width: 100%;
}

.nav-item a {
  width: 100%;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
 */


/* ABOUT PAGE */
/* 
.about {
 background-color: pink;
}
 */



/* PROJECTS PAGE */
/* .projects {
    background-color: black;

} */
 
/* .projs {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
} */



/* CONTACT FORM PAGE */
/* .contactform-container {
    background-color: aqua;
}
 */


.navbar {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style-type: none;
  align-items: center;
}

.navbar ul li {
  font-size: 1.2em;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
  padding: 10px 70px;
}

.navbar ul li a:hover {
  color: rgba(117, 117, 117, 0.916);
    text-decoration: none;
}

/* 
.cmsProjectLink {
  text-decoration: none;
  font-weight: bold;
  padding: 10px 70px;
}

.cmsProjectLink a:hover {
  text-decoration: none;
} */


/* CONTACT FORM PAGE */
.contactFormStyle {
  padding-top: 10%;
}