
/* coolors palette*/

/* :root {
  --khaki: #C3A995;
  --beaver: #AB947E;
  --umber: #6F5E53;
  --beaver-2: #8A7968;
  --rose-ebony: #593D3B;
  --white: #ffffff;
} 
/* 
{
  color: var(--rose-ebony);
} */ 
 
/* -------------------------
   RESET & BASE STYLES
------------------------- */
* {
  margin: 0;
  padding: 0; 
  
}

#root {
  height: 100%; 
  font-family: 'Cormorant Garamond', serif;
  --primary: #000000;
/*  *Button text**
– **Borders or minimal dividers**
– **Icons** */
 
  --Main-background: #ffffff;
  /* 
✅ **(Off-White)**
– **Main background** (body)
– **Card backgrounds**
– **Sections for readability**
/* /*   */


 --Accent: #BEB7A4;

/* ✅ **#BEB7A4 (Warm Beige)**
– **Accent colour** for:
* Button backgrounds
* Link hover states
* Section dividers
* Small icon fills or borders
* Highlight boxes or pull quotes */
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

/* *{
  border: 1px solid red;
} */



body {
  background-image: url("./components/pages/pageAssets/shadowBg2.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  overflow-x: hidden;

}

/* -------------------------
   END OF RESET & BASE STYLES
------------------------- */



/* -------------------------
   GLOBAL UTILITY CLASSES
------------------------- */
.summary {
  font-size: calc(0.1rem + 1.2vw);
  line-height: 1.8;
  font-weight: 400;
}

/* -------------------------
   END OF GLOBAL UTILITY CLASSES
------------------------- */




/* -------------------------
   HOMEPAGE STYLES
------------------------- */



/* -------------------------
   PROJECTS & EXPERIENCE CONTAINER STYLES | HomePage.jsx | className PEcontainer
------------------------- */



/* .featuredContainer {
  
} */


.ExperienceContainer {
  background-color: var(--Accent);
  color: whitesmoke;
}









/* -------------------------
   CONTACT FORM
------------------------- */

.btn-custom {
  background-color: var(--Accent);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--Accent);
}



/* -------------------------
   MEDIA QUERIES
------------------------- */
@media (max-width: 768px) {
  .summary {
    font-size: 1rem;
    text-align: center;
  }

  .experience, .projectsMain {
    padding: 1rem;
  }
}

:focus {
  outline: 3px outset #AB947E; /* or another brand color */
  outline-offset: 3px;
  border-radius: 2px;

}
@media (max-width: 768px) {
  .animated-main {
    transform: scale(0.6);
    transform-origin: left top;
    margin-top: 1rem;
  }

  .marker {
    display: none; /* Optional: hide marker on small screens */
  }

  .letter {
    font-size: 1.5rem; /* You can scale font size too if needed */
  }
}
