
/* coolors palette*/

/* :root {
  --khaki: #C3A995;
  --beaver: #AB947E;
  --umber: #6F5E53;
  --beaver-2: #8A7968;
  --rose-ebony: #593D3B;
  --white: #ffffff;
} 
/* 
* {
  color: var(--rose-ebony);
} */

body {
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  overflow: visible;
} 

/* Header section - Location under the nav bar */
/* Content - Rhianna Wilson */

/* header {
  padding-top: 38px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

header h1 {
  align-items: inherit;
  margin: 0;
  font-size: 2.5em;
  font-variant: small-caps;
} */
